html {
  background: #200122;
  background: -webkit-linear-gradient(to top, #6f0000, #200122);
  background: linear-gradient(to top, #6f0000, #200122);
  height: 100%;
  color: white;
  font-size: 20px;
  font-family: Montserrat;
  background-attachment: fixed;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: left;
}

a {
  text-decoration: none;
}

a:visited,
a {
  color: white;
}

li {
  list-style: none;
}

.menuContainerLeft li,
.menuContainerRight li {
  display: inline-block;
}

h1 {
  font-size: 30px;
  padding-bottom: 3%;
}

#createQuizForm {
  padding-top: 5%;
  padding-bottom: 5%;
}

.menuContainer {
  position: fixed;
  width: 100%;
  display: flex;
  padding-top: 1%;
}

.menuContainerLeft {
  order: 1;
  width: 50%;
  text-align: left;
  padding-left: 0%;
}

.menuContainerRight {
  order: 2;
  width: 50%;
  text-align: right;
  padding-left: 0%;
}

.menuContainerLeft li {
  padding-left: 7%;
}

.menuContainerRight li {
  padding-right: 7%;
}

textarea {
  font-family: Montserrat;
  width: 50%;
  resize: none;
  background: #00000020;
  border-color: #7d2906;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-size: 15px;
}

.questionArea {
  height: 125px;
}

.answerArea {
  height: 75px;
}

#addQuestionButton,
#createQuiz,
#removeQuestionButton,
.submitButton {
  font-family: Montserrat;
  width: 7%;
  height: 50px;
  border: 2px solid black;
  border-color: #7d2906;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  color: white;
  cursor: pointer;

  background-color: #00000020;
  -webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}

#addQuestionButton:hover,
#createQuiz:hover,
#removeQuestionButton:hover,
.lrButton:hover {
  background-color: #7d290650;
  -webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}

.lr,
.quizIDForm {
  margin: auto;
  padding-top: 10%;
  width: 350px;
}

.lrPassive {
  padding-top: -100%;
}

.lrInputDiv {
  text-align: left;
}

.lrInput,
#quizID {
  font-family: Montserrat;
  width: 100%;
  height: 30px;
  border: 2px solid black;
  background: #00000020;
  border-color: #7d2906;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-size: 15px;
}

.lrButtonDiv {
  padding-top: 10%;
}

.lrButton,
#submitQuizID {
  font-family: Montserrat;
  width: 40%;
  height: 50px;
  margin-top: 5%;
  border: 2px solid black;
  border-color: #7d2906;
  border-radius: 5px 5px 5px 5px;
  color: white;
  cursor: pointer;

  background-color: #00000020;
  -webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}

.quizSlot {
  cursor: pointer;
  width: 21%;
  margin-top: 1%;
}

#quizMain {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  width: 100%;
}

#QAArea {
  order: 1;
  padding: 5%;
  text-align: left;
  width: 100%;
}

#questionDisplay {
  font-size: 20px;
}

#answerDisplay {
  padding-top: 15px;
  font-size: 15px;
}

#questionDisplay,
#answerDisplay {
  width: 100%;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

#quizFooter {
  display: flex;
  justify-content: space-between;
}

#previousQuestion {
  order: 1;
  font-size: 20px;
  margin-left: 2%;
  visibility: hidden;
}

#questionNumberDisplay {
  order: 2;
  font-size: 60px;
  text-align: center;
}

#nextQuestion {
  order: 3;
  font-size: 20px;
  margin-right: 2%;
  visibility: hidden;
}

.participantsTextarea {
  margin-top: 100px;
  width: 769px;
  height: 100px;
}

.submitButton {
  margin-top: 50px;
  margin-left: 193px;
  margin-right: 193px;
  width: 386px;
  border-bottom: 2px solid #7d2906;
  border-radius: 5px 5px 5px 5px;
}

#participantsArea {
  order: 2;
  margin: 5%;
  width: 100%;
  text-align: right;
}

.participantTable {
  width: 100%;
  border: 2px solid black;
}

.participantName {
  float: left;
}

.participantPoints {
}

.participantSubPoint,
.participantAddPoint {
  cursor: pointer;
  margin-right: 10%;
}

.participantAnswer {
  width: 100%;
  padding: none;
  font-size: 35px;
}

.participantPoints,
.participantName,
.participantSubPoint,
.participantAddPoint,
.participantAnswer {
  display: inline;
}
