html {
  background: #171719;
  height: 100%;
  color: white;
  font-size: 20px;
  font-family: Montserrat;
  background-attachment: fixed;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: left;
}

a {
  text-decoration: none;
}

a:visited,
a {
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.menuContainer {
  background-color: #171719;
  display: flex;
  position: fixed;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.menu,
#indexMenu {
  display: flex;
  justify-content: space-between;
  order: 1;
  width: 15%;
  border-bottom: 2px solid #929292;
  margin-left: 2%;
}

.emptyMenuCenter {
  order: 2;
  width: 64%;
  margin-left: 2%;
  margin-right: 2%;
}

.emptyMenuRight {
  order: 3;
  width: 17%;
}

.mainContainer {
  display: flex;
  padding-top: 10%;
}

.mainCenter {
  order: 2;
  height: 100%;
  width: 64%;
  margin-left: 2%;
  margin-right: 2%;
}

.leftMain {
  position: sticky;
  top: 20%;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 15%;
  margin-left: 2%;
}

#leftMain {
  text-align: left;
}

#quizList {
  order: 2;
  width: 64%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
  table-layout: fixed;
}

.rightMain {
  position: sticky;
  top: 20%;
  order: 3;
  height: 100%;
  width: 17%;
}

.menu li,
#indexMenu li {
  display: inline-block;
}

h1 {
  font-size: 30px;
  padding-bottom: 3%;
}

#createQuizForm {
  order: 2;
  height: 100%;
  width: 64%;
  margin-left: 2%;
  margin-right: 2%;
}

textarea {
  font-family: Montserrat;
  resize: none;
  background: #00000020;
  color: white;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.507);
  font-size: 15px;
}

textarea:focus {
  outline: none;
}

.createSlot {
  display: flex;
}

.numberArea {
  width: 5%;
}

.questionArea {
  height: 20px;
  width: 70%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.answerArea {
  height: 20px;
  width: 20%;
  margin-bottom: 2%;
}

#addQuestionButton {
  order: 1;
}
#removeQuestionButton {
  order: 2;
}
#saveQuiz {
  order: 1;
}
#createQuiz {
  order: 2;
}

#addQuestionButton,
#removeQuestionButton,
#saveQuiz,
#createQuiz,
.submitButton {
  font-family: Montserrat;
  width: 7%;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  color: white;
  cursor: pointer;

  background-color: #262626;
  -webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}

#addQuestionButton:hover,
#removeQuestionButton:hover,
#saveQuiz:hover,
#createQuiz:hover,
.lrButton:hover {
  background-color: #737373;
  -webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}

#addQuestionButton,
#removeQuestionButton,
#saveQuiz,
#createQuiz {
  margin-top: 5%;
  width: 50%;
}

.lr {
  margin: auto;
  padding-top: 10%;
  width: 350px;
}

.lrPassive {
  padding-top: -100%;
}

.lrInputDiv {
  text-align: left;
}

.lrInput {
  font-family: Montserrat;
  width: 100%;
  height: 30px;
  border: 2px solid black;
  background: #00000020;
  border-color: #7d2906;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-size: 15px;
}

.lrButtonDiv {
  padding-top: 10%;
}

.lrButton {
  font-family: Montserrat;
  width: 40%;
  height: 50px;
  margin-top: 5%;
  border: 2px solid black;
  border-color: #7d2906;
  border-radius: 5px 5px 5px 5px;
  color: white;
  cursor: pointer;

  background-color: #00000020;
  -webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}

.quizIDForm {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

#quizID {
  width: 20%;
  color: #929292;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #929292;
}

#quizID:focus {
  outline-width: 0;
}

#submitQuizID {
  font-family: Montserrat;
  padding: 0;
  color: white;
  background: none;
  border: 2px solid #929292;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #929292;
  cursor: pointer;
}

.quizRow {
  height: 40px;
  cursor: pointer;
}

.quizTable {
  height: 50px;
  padding-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1em;
  text-transform: uppercase;
}

.quizTable th {
  padding: 20px 15px;
}

.quizRow td {
  padding: 15px;
  font-size: 1em;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.quizNumber {
  width: 5%;
}
.quizID {
  width: 55%;
}
.quizQuestionAmount {
  width: 15%;
}
.quizSubmitter {
  width: 25%;
}

#quizTop {
  position: relative;
  height: 300px;
  margin: 5%;
  margin-top: 0;
  text-align: left;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.199);
}

#quizBottom {
  width: 100%;
  text-align: left;
  margin: 5%;
}

#questionDisplay {
  font-size: 25px;
}

#answerDisplay {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
}

#questionDisplay,
#answerDisplay {
  width: 100%;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

#quizFooter {
  display: flex;
  justify-content: space-between;
}

#previousQuestion {
  order: 1;
  font-size: 20px;
  margin-left: 2%;
  visibility: hidden;
}

#questionNumberDisplay {
  order: 2;
  font-size: 60px;
  text-align: center;
}

#nextQuestion {
  order: 3;
  font-size: 20px;
  margin-right: 2%;
  visibility: hidden;
}

.participantsTextarea {
  margin-top: 100px;
  width: 769px;
  height: 100px;
}

.submitButton {
  margin-top: 50px;
  margin-left: 193px;
  margin-right: 193px;
  width: 386px;
  border-bottom: 2px solid #7d2906;
  border-radius: 5px 5px 5px 5px;
}

#participantsArea {
  order: 2;
  margin: 5%;
  margin-top: 0;
  width: 50%;
  text-align: right;
}

.participantName {
  float: left;
}

.answerContainer {
  display: flex;
  flex-wrap: wrap;
}

.participantSubPoint,
.participantAddPoint {
  cursor: pointer;
  margin-right: 2%;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.participantAnswerName {
  order: 1;
  margin-right: 2%;
}

.participantSubPoint {
  order: 2;
}

.participantAddPoint {
  order: 3;
}

.participantAnswer {
  order: 4;
  width: 100%;
  padding: none;
  font-size: 20px;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

.participantContainer {
  margin-bottom: 7%;
  border-bottom: 2px solid #929292;
  cursor: pointer;
}

.participantPoints {
  float: right;
}
