html {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #0F2027, #203A43, #0F2027);
    background: linear-gradient(to right, #0F2027, #203A43, #0F2027);
    color: white;
    font-size: 20px;
    font-family: Montserrat;
}

header {
    text-align: right;
}

a {
    text-decoration: none;
}

a:visited, a {
    color: white
}

u {
    list-style: none;
}

li {
    display: inline-block;
    padding-right: 5%;
}

table {
    margin: 5%;
}